.container{
    background-color: rgb(150, 134, 134);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    margin: auto;
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
.context{
    max-width: 100%;
    background-color: hsl(0, 1%, 46%);
    border-radius: 10px;
}
input[type="text"]{
    font-size: 2rem;
    font-weight: semibold;
    border-radius: 10px;
    width: 325px;
}
button{
 font-size: 2rem;
 width: 75px;
 border-radius: 10px;
 margin: 3px;
}
.submit{
    width: 150px;
}